<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_restaurante})}|">Show Restaurante - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${restaurante}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_restaurante})}">Show Restaurante</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_restaurante})}">Restaurante data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="restaurante-nombre-field" data-z="851c24fd">
            	      <strong data-th-text="#{label_restaurante_nombre}">nombre</strong>
                    <span data-th-text="*{{nombre}}">nombreValue</span>
         	        </li>
                  <li id="restaurante-direccion-field" data-z="f4d147e1">
            	      <strong data-th-text="#{label_restaurante_direccion}">direccion</strong>
                    <span data-th-text="*{{direccion}}">direccionValue</span>
         	        </li>
                  <li id="restaurante-descripcion-field" data-z="e58b53c1">
            	      <strong data-th-text="#{label_restaurante_descripcion}">descripcion</strong>
                    <span data-th-text="*{{descripcion}}">descripcionValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Restaurante_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('RestaurantesItemThymeleafController').to('editForm').with('restaurante', restaurante.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="Restaurante_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('RestaurantesCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
